@font-face {
    font-family: 'Inter';
    src: url('/public/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;

    font-family: 'Comfortaa';
    src: url('/public/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;

    font-family: 'Source Code Pro';
    src: url('/public/fonts/SourceCodePro-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
};