@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('./fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/SourceCodePro-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@layer utilities {
    .hover-lift {
        @apply transition-transform duration-300 ease-in-out;
    }

    .hover-lift:hover {
        transform: translateY(-2px);
    }
}